* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efe5dc;
}
.title {
  font-size: 40px;
  font-family: "Luckiest Guy", arial;
  margin-bottom: 40px;
  text-align: center;
}
main {
  width: 700px;
  height: 400px;
  background-color: #d0ada7;
  display: flex;
  position: relative;
  border-radius: 15px;
  font-family: "roboto", arial;
}
section {
  padding: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.player-info,
.current-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-0,
.score-1,
.name {
  font-size: 30px;
}
.name {
  margin-bottom: 20px;
}
.current-0,
.current-1 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}
.player-active {
  background-color: #c6b8bc;
  border-radius: 15px;
}
.current-box {
  background-color: white;
  padding: 7px;
  border-radius: 15px;
}
button {
  position: absolute;
  padding: 6px 12px;
  border: none;
  border-radius: 10px;
  opacity: 0.7;
  transition: all 0.2s;
  cursor: pointer;
}
.hold-btn {
  bottom: 45px;
  left: 45%;
}
.roll-dice {
  left: 44%;
  bottom: 95px;
}
.new-game {
  left: 42%;
  top: 30px;
}

img {
  width: 80px;
  position: absolute;
  left: 45%;
  top: 150px;
}
.winner {
  background-color: #0c0c2b;
  color: white;
}
.hide-dice {
  display: none;
}

@media (max-width: 800px) {
  main {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  main {
    width: 450px;
    height: 300px;
  }
  .title {
    font-size: 30px;
  }
  button {
    font-size: 12px;
  }
  .score-0,
  .score-1,
  .name {
    font-size: 20px;
  }
  .hold-btn {
    bottom: 40px;
    left: 42%;
  }
  .roll-dice {
    left: 41%;
    bottom: 85px;
  }
  .new-game {
    left: 37%;
    top: 30px;
  }
  img {
    width: 60px;
    left: 43%;
    top: 100px;
  }
}

@media (max-width: 400px) {
  main {
    width: 320px;
    height: fit-content;
    flex-direction: column;
  }
  .title {
    font-size: 25px;
  }
  button {
    font-size: 12px;
  }
  .score-0,
  .score-1,
  .name {
    font-size: 20px;
  }
  .hold-btn {
    bottom: 2%;
    left: 25%;
  }
  .roll-dice {
    left: 55%;
    bottom: 2%;
  }
  .new-game {
    left: 34%;
    top: 2%;
  }
  .current-box {
    margin-top: 15px;
  }
  body {
    position: fixed;
  }
  img {
    width: 50px;
    left: 42%;
    top: 45%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
}
