* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(188, 202, 214);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
  opacity: 0;
  transition: opacity 1s;
}
.countries {
  width: 200px;
  height: 320px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  background-color: rgb(251, 248, 248);
}
.flag {
  width: 100%;
  height: 43%;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.details {
  padding: 15px;
}
.name {
  font-size: 23px;
  font-weight: bolder;
  color: rgb(72, 69, 69);
}

.region {
  font-size: 13px;
  color: rgb(99, 97, 97);
}
.population,
.language,
.currency {
  font-size: 13px;
  color: rgb(99, 97, 97);
  margin-top: 10px;
  font-weight: 400;
}
.symbol {
  margin-right: 10px;
}

.neighbour {
  width: 180px;
  height: 300px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  background-color: rgb(251, 248, 248);
  font-size: 8px;
}
